[class^='section-'] {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    img {
        width: 100%;
        height: fit-content;
        object-fit: cover;
        z-index: -1;
    }

    .title-section {
        width: 50%;
        margin: 2rem auto;
        align-self: flex-start;
        border-bottom: 3px solid $color-main;
        text-align: center;

        .title-section-text {
            font-size: 3rem;
        }
    }
}

.product-card {
    width: 768px;
    margin: 1rem auto;
    flex-direction: row-reverse;

    .card-image {

        img {
            object-fit: cover;
        }
    }

    .card-details {
        display: flex;
        flex-direction: column;
    }
}

.section-about {

    img {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
}